

a:visited {
  fill: rgb(78, 1, 78);
}

.epic polygon {
  fill: darkorange
}

.issue polygon {
  fill: rgb(195, 231, 243)
}

.issue.closed polygon {
  fill: rgb(186, 255, 186)
}

g.epic g a:visited text {
  fill: rgb(255, 255, 255);
}

g.epic g a:visited polygon {
  fill: rgb(110, 110, 255);
}

g.issue g a:visited polygon {
  fill: rgb(213, 213, 255);
}